body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.outer-grid {
    flex-wrap: wrap;
    padding: 0 4px;
 }
 .inner-grid {
    display: inline;
    padding: 0 4px;
 }
 .inner-grid img {
    margin-top: 8px;
    width: 240px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
 }
 @media screen and (max-width: 800px) {
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
 }

 .container {
     text-align: center;
 }

 .hover-img .hover-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    top: 45%;
    display: none;
}

.hover-img img:hover + .hover-text {
    display: block;
}

.hover-img {
  position: relative;
  display: inline-block;
}

.hover-img img:hover {
    opacity: 0.5;
}
